{% load cms_tags menu_tags sekizai_tags i18n static %}

<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

    <!-- Stylesheets & Title
    ============================================= -->
    <title>{% page_attribute "page_title" %}</title>

    {% addtoblock "css" %}
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Poppins:300,400,500,600,700|PT+Serif:400,400i&display=swap"
              rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="{% static 'sch17/canvas_source/css/bootstrap.css' %}" type="text/css"/>
        <link rel="stylesheet" href="{% static 'sch17/canvas_source/css/style.css' %}" type="text/css"/>
        <link rel="stylesheet" href="{% static 'sch17/canvas_source/css/swiper.css' %}" type="text/css"/>
        <link rel="stylesheet" href="{% static 'sch17/canvas_source/css/dark.css' %}" type="text/css"/>
        <link rel="stylesheet" href="{% static 'sch17/canvas_source/css/font-icons.css' %}" type="text/css"/>
        <link rel="stylesheet" href="{% static 'sch17/canvas_source/css/animate.css' %}" type="text/css"/>
        <link rel="stylesheet" href="{% static 'sch17/canvas_source/css/magnific-popup.css' %}" type="text/css"/>
        <link rel="stylesheet" href="{% static 'sch17/canvas_source/css/custom.css' %}" type="text/css"/>
    {% endaddtoblock %}


    {% render_block "css" %}


</head>
<body>
{% cms_toolbar %}
<!-- The Main Wrapper
============================================= -->
<div id="wrapper">
    <!-- Header
    ============================================= -->

        {% include 'header_my.html' %}

    <!-- Site Content
    ============================================= -->
    <section id="content">
        <div class="content-wrap">
            <div class="container">
                {% block content %}
                    {% placeholder "content" %}
                {% endblock %}

            </div>
        </div>
    </section>
    <!-- Footer
    ============================================= -->
    <footer id="footer" class="dark">
        <div class="container">
        </div>

        <!-- Copyrights
        ============================================= -->
        <div id="copyrights">
            <div class="container">
            </div>
        </div>
    </footer>

</div>

<!-- Scripts
============================================= -->
{% render_block "js" %}
{% addtoblock "js" %}
	<script src="{% static 'sch17/canvas_source/js/jquery.js' %}"></script>
	<script src="{% static 'sch17/canvas_source/js/plugins.min.js' %}"></script>
	<script src="{% static 'sch17/canvas_source/js/functions.js' %}"></script>
{% endaddtoblock "js" %}
</body>
</html>